@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #FAEBDA;
}


/* topo */
#topo{
    background-image: url(/img/cupcakes-g7646ef9be_1280\ 2.png);
   height: 283px;
   width: 1255px;
   border-radius: 52px;
   
   margin: 0px auto;
   margin-top: auto 0px;
   margin-top: 10px;

}

nav{
    width: 500px;
    height: 40px;
    color: white;
    transform: translate(105%, 400%);
   
}
nav a:hover{
    background-color: black;
    border-radius: 10px;
    transition: 1.5s;
    opacity: 80%;
}


ul{

    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
    
}

li{
margin: 10px;
font-family: 'Inter', sans-serif;

font-size: 25px;



}
nav a{
    text-decoration: none;
    color: white;
    
}



h2{
    color: white;
    font-style: normal;
    font-family:  'Vidaloka', serif;
    font-weight: 400;
    line-height: 58px;
}
.logo{
    
    width: 442px;
    height: 40px;
    font-size: 30px;
    transform: translate(15%, 300%);
    
}

/* fim do topo */

.titulo
{
    color: #582F0E;
    text-align: center;
    font-size: 150px;
    font-family: Raleway;
    margin-bottom: 20px;
}


.img-doces
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 550px;
    height: 660.435px;
    
    /* background-color: rgb(114, 113, 111); */
    
}


#doce1
{
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    border-radius: 30px;

    align-self: flex-start;

    width: 229px;
    height: 192.247px;
}

#doce2
{
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    border-radius: 30px;

    align-self: center;

    width: 229px;
    height: 192.247px;
}

#doce3
{
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    border-radius: 30px;

    align-self: flex-start;

    width: 229px;
    height: 192.247px;
}


.flexbox-contato
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 32px;
    font-family: Koh Santepheap; 
}


.form-contato
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ccc;

    width: 1030.883px;
    height: 660.435px;
}


label, input, textarea
{
    margin: 10px 20px;
}

input, textarea:hover
{
    cursor: pointer;
    
}

label
{
    font-weight: bold;
}

input
{
    background-color: #ccc;
    width: 390px;
    border-color: #ccc #ccc black #ccc;
    border-width: 2px;      
    
}


textarea
{
    min-height: 6rem;
    width: 390px;
    resize: none;
    background-color: #ccc;
    border-color: black #ccc black #ccc;
    border-width: 2px;    
}


.botao-enviar
{
    font-size: 32px;
    margin: 10px 20px;
    width: 397px;
    height: 76px;
    border-radius: 25px;
    background-color: #FFB5A7;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    font-family: Koh Santepheap;
    font-weight: bold; 
    border: transparent;    
}

.botao-enviar:hover{

    color: white;
    transition: 0.4s;
    cursor: pointer;
    border: 2px;
    background: linear-gradient(120deg, #FFB5A7, #FAEBDA);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}


.flex-icones
{
    transform: translate(580px, -70px);
    

    /* margin-inline-start: 600px;
    margin-top: 50px; */

    background-color: aqua;

}

.img-icon
{
    margin: 0px 20px 0px 20px;
}


.flex-localizacao
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 150px;
}


.icones
{
    background-color: black;
   
}







    
    
