



/*post diario*/
.post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    background-color: #FAEBDA;
    height: 650px;
    margin-bottom: 90px;
    width: 1250px;

}


body {
    background: #FAEBDA;

}

.cx1 {
    display: flex;
    flex-direction: row;
    padding-right: 60px;
    padding-top: 60px;

}


.colunas {
    background-color: #FAEBDA;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1000px;
    margin-top: 80px;

}

.postd {
    margin-top: 150px;
    align-items: center;
    height: 630px;
    width: 600px;
}



.cxcoment {
    background-color: #FAEBDA;
    height: 400px;
}

.estrofe {
    background-color: #FAEBDA;
    margin-bottom: 90px;
    width: 195px;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 25px;
    padding-right: 60px;
    height: 152px;

}

#tb {
    color: #582F0E;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

.tp {
    color: #5e2b01d5;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;

}

/*fim dos posts */



/* TOPO */


#topo {
    background-image: url(img_blog/banner.png);
    height: 283px;
    width: 1255px;
    border-radius: 52px;

    margin: 0px auto;
    margin-top: auto 0px;
    margin-top: 10px;

}

nav {
    width: 500px;
    height: 40px;
    color: white;
    transform: translate(105%, 400%);

}

nav a:hover {
    background-color: black;
    border-radius: 10px;
    transition: 1.5s;
    opacity: 80%;
}


ul {

    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;


}

li {
    margin: 10px;
    font-family: 'Inter', sans-serif;

    font-size: 25px;



}

nav a {
    text-decoration: none;
    color: white;

}



h2 {
    color: #fff;
    font-style: normal;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
}

.logo {

    width: 442px;
    height: 40px;
    font-size: 30px;
    transform: translate(15%, 300%);

}

/* fim do topo */



/* login colaborador e usuario*/

input {
    width: 300px;
    height: 30px;
}

.containerlogin {

    display: flex;
    justify-content: space-around;
    width: 2000px;
    text-align: left;
    background-color: #E9CAC4;
    margin-right: 40rem;
    color: #5e2b01d5;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;

}

.tp {
    border: #582F0E solid 1px;
    margin: auto;
}

.usuario {

    width: 500px;
    border: #582F0E 2px solid;
}

.comentario {
    width: 500px;
    border: #FAEBDA 1px solid;
}

.containerlogin p a {

    width: 600px;
    text-align: left;
    text-decoration: underline;
    color: #5e2b01d5;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;
}






.posicao {
    display: flex;
    flex-direction: column-reverse;
    background-color: #FAEBDA;
    padding: 16px;
    height: 100px;
}

button {
    background: #FFB5A7;
}

input {
    background: #E9CAC4;
}

/* fim dos logins */


/* COMEÇO FOOTER */
footer {
    width: 100vw;
    height: 250px;
    background-image: linear-gradient(40deg, black, rgb(51, 47, 42));
    display: flex;


}

.logo_rodape {
    width: 150px;
    height: 150;
    background-image: url(img_blog/logoloja.png) left;
    margin-right: 9px;


}

#rodape {
    width: 1184px;
    height: 153px;

    display: flex;


}

#rodape ul {
    flex-direction: column;
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 40px;
    margin-left: 40px;
    width: 100px;
}

#lista_rodape li {

    text-align: center;
    width: 100px;
}

#lista_rodape li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: 1.2s;
    transform: scale(1.2);

}



#Pagamentos {

    width: 300px;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;

    margin-left: 100px;


}

#Pagamentos h1 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: start;
    transform: translate(0%, -50%);
    color: white;


}

.icones_pagamentos1 {
    width: 90px;
    height: 100px;

}

.icones_pagamentos2 {
    width: 90px;
    height: 65px;

}

.icones_pagamentos3 {
    width: 124px;
    height: 71px;

}

.icones_pagamentos4 {
    width: 74px;
    height: 74px;

}

#caixa {
    width: 469px;
    height: 80px;


}

#Endereço {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 200px;

}

.lista_endereço li {
    font-size: 20px;
    font-family: 'KoHo', sans-serif;
    font-weight: 200;
    width: 100px;
    height: 40px;
}


/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');