*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*post diario*/
.post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    background-color: #FAEBDA;
    height: 650px;
    margin-bottom: 90px;
    width: 1250px;

}


body {
    background: #FAEBDA;
    width: auto;
    height: auto;

}

.cx1 {
    display: flex;
    flex-direction: row;
    padding-right: 60px;
    padding-top: 60px;

}


.colunas {
    background-color: #FAEBDA;
    display: flex;
    width: 1258px;
    height: 841px;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 30px;
    

}

.colunas_laterais{
    border-radius: 10px;
    border: 1px solid red;
}
 

.postd {
    margin-top: 150px;
    align-items: center;
    height: 630px;
    width: 600px;
}

.post{
    margin:0px auto;
    margin-bottom: 200px;
}



.cxcoment {
    background-color: #FAEBDA;
    height: 400px;
}

.estrofe {
    background-color: #FAEBDA;
    margin-bottom: 90px;
    width: 195px;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 25px;
    padding-right: 60px;
    height: 152px;

}

#tb {
    color: #582F0E;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 70px;

}

.tp {
    color: #5e2b01d5;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;

}

/*fim dos posts */



/* TOPO */

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital@1&display=swap');


#topo{
    background-image: url(imagens/cupcakes-g7646ef9be_1280\ 2.png);
   height: 283px;
   width: 1255px;
   border-radius: 52px;
   
   margin: 0px auto;
   margin-top: auto 0px;
   margin-top: 10px;

}

nav{
    width: 500px;
    height: 40px;
    color: white;
    transform: translate(105%, 400%);
   
}
nav a:hover{
    background: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    color: black;
    transition: 1.2s;
    border:#cf9a8f solid 2px;
    transform: scale(1.1);
    box-shadow: 0 0 1.2em #cf9a8f, 0 0 1.2em #cf9a8f,
    0 0 1.2em #cf9a8f;
}


ul{

    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
    
}

li{
margin: 10px;
font-family: 'Inter', sans-serif;

font-size: 25px;



}
nav a{
    text-decoration: none;
    color: white;
    
}



h2{
    color: white;
    font-style: normal;
    font-family:  'Vidaloka', serif;
    font-weight: 400;
    line-height: 58px;
}
.logo{
    
    width: 442px;
    height: 40px;
    font-size: 30px;
    transform: translate(15%, 300%);
    
}

/* fim do topo */



/* login colaborador e usuario*/

input {
    width: 300px;
    height: 30px;
}

.login {
    text-align: center;
    position: absolute;
    width: 100%;
}



.posicao {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background-color: #FAEBDA;
    padding: 16px;
    height: 100px;
}

button {
    background: #FFB5A7;
}

input {
    background: #E9CAC4;
}

/* fim dos logins */


/* COMEÇO FOOTER */
footer{
    width:1900px;
    height: 300px;
    background-image: linear-gradient(40deg,black,  rgb(51, 47, 42));
    display: flex;
    padding: 50px;

}
.logo_rodape{
    width: 228px;
    height: 190;
    background-image: url(imagens/Gold_Luxury_Initial_Circle_Logo__1_-removebg-preview\ 2.png) left;
    margin-right:9px ;
    
    
    
}

#rodape{
    width: 1184px;
    height:153px ;
    margin: 10px;
    display: flex;
    
    
}
#rodape ul{
    flex-direction: column;
    font-family: 'KoHo', sans-serif;
    font-size: 24px;
    color: white;
    margin-right: 80px;
    margin-left: 80px;
    width: 100px;
}

#lista_rodape li{
    
    text-align:center ;
    width: 100px;
    
}
    
#lista_rodape li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: 1.2s;
    transform: scale(1.2);
    padding: 10px;

}



#Pagamentos{
    
    width: 469px;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
   
    

}
#Pagamentos h1{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: start;
    transform: translate(0%,-50%);
    color: white;
    
    
}
.icones_pagamentos1{
    width: 90px;
    height: 100px;
    
}
.icones_pagamentos2{
    width: 101px;
    height: 65px;
    
}
.icones_pagamentos3{
    width: 124px;
    height: 71px;
    
}
.icones_pagamentos4{
    width: 74px;
    height: 74px;
    
}
#caixa{
    width: 469px;
    height: 80px;
    
   
}
#Endereço{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 250px;
   
}

.lista_endereço li{
    font-size: 24px;
    font-family:'KoHo', sans-serif;
    margin-bottom: 2px;
    font-weight: 200;
    width: 300px;   
}



/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');