

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {

    background: #FAEBDA;
    height: auto;
    
    
  
    
}
/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


/* TOPO */



#topo{

   background-image: url(../imgcatalog/banner.png);

   height: 283px;
   width: 1255px;
   border-radius: 52px;
   
   margin: 0px auto;
   margin-top: auto 0px;
   margin-top: 10px;

}

#topo nav{
    width: 500px;
    height: 40px;
    color: white;
    transform: translate(105%, 400%);
   
}
#topo nav a:hover{
    background: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    color: black;
    transition: 1.2s;
    border:#cf9a8f solid 2px;
    transform: scale(1.1);
    box-shadow: 0 0 1.2em #cf9a8f, 0 0 1.2em #cf9a8f,
    0 0 1.2em #cf9a8f;
}


#topo ul{

    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
    
}

#topo li{
margin: 10px;

font-family: 'Inter', sans-serif;


font-size: 25px;
font-weight: normal;



}
#topo nav a{
    text-decoration: none;
    color: white;
    
}



h2{
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    margin: 50px;
}
.logo{
    
    width: 442px;
    height: 40px;
    font-size: 30px;
    transform: translate(15%, 300%);
    
}

/* FIM DO TOPO */



.ice-cream h1 {

   
    font-family: 'Great Vibes', cursive;
    color: #4f2c1d;
    margin:0px auto;
    font-size: 200px;
    width: 200px;
    font-size: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* Começo do sub-menu */
.containerSubNavBar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}
 .sub-navbar{
    
    width: 600px;
    padding: 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform .2s;
    border-radius: 0.5rem;
    
 
    
    
 }


.sub-navbar ul li{
    list-style: none;
   
    padding: 10px;
    margin: 2px;
    
    
    
}
 .sub-navbar li:hover{
    scale: 1.2;
    border-radius: 10px;
    background-color: rgba(211, 108, 133, 0.603);
    
    
    
 }
 .sub-navbar ul li{
    transition: all 500ms;
    
 }

 .sub-navbar ul{
    display:flex;
    justify-content: space-around;  
    width: 800px; 
    font-size: 25px;
    transition: all 500ms;
 
    
    
 }

.sub-navbar a {
  
    text-decoration: none;
    font-size: 25px;
    color: black;
    
 }
 .sub-navbar a :hover{
    color: white;
 }


/* fim do sub-menu */
    


    
#container{
    width: 1800px;
    height: auto;
    
    margin: 0px auto;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
   
  
    margin-bottom: 100px;
  
    
    
   
   
  
    
    

}

.child{
    width: 500px;
    height: auto;
    border-radius:30px ;
    background: #E9CAC4;
    font-size: 40px;
    box-shadow: 0px 5px 10px black;
    margin: 30px;
}
.child h2{
    color: black;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 40px;
    

}

.image-produto{
    margin: 0px auto;
    width: 383px;
    height: 369px;
    border-radius: 20px;
    margin-top:50px ;
    
    

}

.child p{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 50px;
}

footer{
    width:5000px;
    height: 300px;
    border: 1px solid black;}




/* Começo do footer */
footer{
    width:5000px;
    height: 300px;
    border: 1px solid black;}



footer{
    width:1900px;
    height: 300px;
    background-image: linear-gradient(40deg,black,  rgb(51, 47, 42));
    display: flex;
    padding: 50px;
    margin-top: 100px;

}
.logo_rodape{
    width: 228px;
    height: 190;
    background-image: url(imagens/Gold_Luxury_Initial_Circle_Logo__1_-removebg-preview\ 2.png) left;
    margin-right:9px ;
    
    
    
}

#rodape{
    width: 1184px;
    height:153px ;
    margin: 10px;
    display: flex;
    
    
}
#rodape ul{
    flex-direction: column;
    font-family: 'KoHo', sans-serif;
    font-size: 24px;
    color: white;
    margin-right: 80px;
    margin-left: 80px;
    width: 100px;
}

#lista_rodape li{
    
    text-align:center ;
    width: 100px;
    list-style: none;
    padding: 10px;
    
}
    
#lista_rodape li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: 1.2s;
    transform: scale(1.2);
    padding: 10px;

}



#Pagamentos{
    
    width: 469px;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    
    margin-left: 100px;
    

}
#Pagamentos h1{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: start;
    transform: translate(0%,-50%);
    color: white;
    
    
}
.icones_pagamentos1{
    width: 90px;
    height: 100px;
    
}
.icones_pagamentos2{
    width: 101px;
    height: 65px;
    
}
.icones_pagamentos3{
    width: 124px;
    height: 71px;
    
}
.icones_pagamentos4{
    width: 74px;
    height: 74px;
    
}
#caixa{
    width: 469px;
    height: 80px;
    
   
}
#Endereço{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 250px;
    list-style: none;
   
}

.lista_endereço li{
    font-size: 24px;
    font-family:'KoHo', sans-serif;
    margin-bottom: 2px;
    font-weight: 200;
    width: 300px;   
    list-style: none;
   
}



    
    

